<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.mapper.MyMapper">

	<select id="login" resultType="my.vo.MyVo">
			SELECT STF_ID AS id
		     , STF_NM AS usrNm
		     , STF_PW AS pw 
		     , STF_SQ AS sq
			  FROM STF_TB
		     WHERE STF_ID = #{id}
		       AND STF_PW = #{pw}
	</select>
	
	<select id="getInfo" resultType="my.vo.MyVo">
			SELECT A.APV_SQ AS apvsq,
			       D.DPT_NM AS dptnm,
			       S.STF_NM AS stfnm,
                   A.APV_NM AS apvnm,
                   A.APV_DATE AS apvdate,
                   A.APV_FORM as apvform,
                   A.DIV_APV_SQ AS divapvsq,
                   A.APV_STATE AS state 
			    FROM stf_tb S 
			    INNER JOIN DPT_TB D ON S.DPT_SQ = D.DPT_SQ
                INNER JOIN APV_TB A ON S.STF_SQ = A.APV_STF_SQ
			    WHERE STF_PW = #{pw}
			    AND STF_ID = #{id}
			    ORDER BY APV_SQ
	</select>
	<select id="getEndInfo" resultType="my.vo.MyVo">
			SELECT A.APV_SQ AS apvsq,
			       D.DPT_NM AS dptnm,
			       S.STF_NM AS stfnm,
                   A.APV_NM AS apvnm,
                   A.APV_DATE AS apvdate,
                   A.APV_FORM as apvform,
                   A.DIV_APV_SQ AS divapvsq,
                   A.APV_STATE AS state 
			    FROM stf_tb S 
			    INNER JOIN DPT_TB D ON S.DPT_SQ = D.DPT_SQ
                INNER JOIN APV_TB A ON S.STF_SQ = A.APV_STF_SQ
			    WHERE STF_PW = #{pw}
			    AND STF_ID = #{id}
			    AND A.APV_STATE != 'A'
			    ORDER BY APV_SQ
	</select>
	
	<select id="paymentDetail" resultType="my.vo.MyVo">
		 SELECT
	        APV_FORM AS apvform
	        ,STF_SQ AS line
	        ,APV_NM AS apvnm
	        ,APV_CONTENTS AS apvcnt
	        ,APV_NO AS apvno
	    	  FROM APV_TB
	            WHERE APV_SQ = #{apvsq}     
	</select>
	
	<select id="stateUpdatelastCheck" resultType="int">
		  SELECT MAX(APV_OD_AD) AS apvodadlastCh
		     FROM APV_AD_TB
		     WHERE APV_SQ_AD =  #{apvsq}		  
	</select>
	
	
	<select id="stateUpdateCheck" resultType="String">
		 SELECT APV_AD_STATE AS apvodadCh
		      FROM APV_AD_TB  
		     WHERE APV_SQ_AD = #{apvsq}
			  AND APV_OD_AD = #{apvodadChint}
	</select>
	
	<update id="stateUpdatelast"  parameterType="my.vo.MyVo">
		UPDATE APV_TB
		   SET APV_STATE = 'S'
		 WHERE APV_SQ = #{apvsq}
	</update>
	
	<update id="stateUpdate"  parameterType="my.vo.MyVo">
		UPDATE APV_AD_TB
		   SET APV_AD_STATE = 'S'
		 WHERE APV_SQ_AD = #{apvsq}
		    AND APV_OD_AD = #{apvodad}
		    AND STF_SQ_AD = #{id}
	</update>
	
	<update id="companionUpdatelast"  parameterType="my.vo.MyVo">
		UPDATE APV_TB
		   SET APV_STATE = 'B'
		      ,APV_NO = #{apvno}
		 WHERE APV_SQ = #{apvsq}
	</update>
	
	<update id="companionUpdate"  parameterType="my.vo.MyVo">
		UPDATE APV_AD_TB
		   SET APV_AD_STATE = 'B'
		 WHERE APV_SQ_AD = #{apvsq}
		    AND APV_OD_AD = #{apvodad}
		    AND STF_SQ_AD = #{id}
	</update>
	
	<update id="companionUpdateAll"  parameterType="my.vo.MyVo">
		UPDATE APV_AD_TB
		   SET APV_AD_STATE = 'B'
		 WHERE APV_SQ_AD = #{apvsq}
	</update>
	
	<select id="getpaymentInfo" resultType="my.vo.MyVo">
		SELECT
		   A.APV_FORM AS apvform
		  ,A.APV_NM AS apvnm
		  ,S.STF_NM AS stfnm
		  ,P.DPT_NM as dptnm
		  ,A.APV_DATE as apvdate
		  ,A.APV_SQ AS apvsq
		  ,D.APV_AD_STATE AS state
		  ,D.APV_OD_AD AS apvodad
			 FROM APV_TB A
			  INNER JOIN APV_AD_TB D ON A.APV_SQ = D.APV_SQ_AD
			  INNER JOIN STF_TB S ON A.APV_STF_SQ = S.STF_SQ
			  INNER JOIN DPT_TB P ON S.DPT_SQ = P.DPT_SQ
			  WHERE D.STF_SQ_AD = #{id}
<!-- 			  AND RNUM BETWEEN #{rowStart} AND #{rowEnd} -->
	</select>
	
	<select id="RealTime" resultType="my.vo.MyVo">
		SELECT
		  D.APV_AD_STATE AS state
		  ,D.APV_OD_AD AS apvodad
			 FROM APV_TB A
			  INNER JOIN APV_AD_TB D ON A.APV_SQ = D.APV_SQ_AD
              WHERE A.APV_SQ = #{apvsq}
	</select>
	
	<select id="vuedpt" resultType="my.vo.MyVo" parameterType="my.vo.MyVo">
		SELECT DPT_NM AS dptnm 
			   ,DPT_SQ AS dptsq	 
		FROM DPT_TB
	</select>
	
	<select id="vue" resultType="my.vo.MyVo" parameterType="my.vo.MyVo">
		 SELECT  S.STF_ID AS stfid
        ,D.DPT_NM AS dptnm 
        ,S.STF_NM AS stfnm 
        ,S.DPT_SQ as dptsq
	   FROM  STF_TB S
	    INNER JOIN DPT_TB D ON S.DPT_SQ = D.DPT_SQ
	     GROUP BY D.DPT_NM,S.STF_ID,D.DPT_SQ,S.STF_NM,S.DPT_SQ
	     ORDER BY D.DPT_SQ
	</select>
	
	<select id="getList" parameterType="my.vo.MyVo" resultType="my.vo.MyVo">
		  SELECT  COLUMN1, 
			      COLUMN2, 
			      COLUMN3,
			      COLUMN4, 
			      COLUMN5,
	              COLUMN6
		 FROM ( 
		        SELECT  COLUMN1, 
					    COLUMN2, 
					    COLUMN3,
					    COLUMN4, 
					    COLUMN5,
			            COLUMN6, 
		               ROW_NUMBER() OVER(ORDER BY COLUMN1 DESC) AS RNUM
		         FROM TABLE1 
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY COLUMN1 DESC
	</select>
		<select id="getListCnt" parameterType="int" resultType="int">
		SELECT COUNT(*) 
		FROM TABLE1
	</select>
	
	<update id="joinUpdate" parameterType="my.vo.MyVo">
			 UPDATE STF_TB
			   SET   DPT_SQ = #{Department}
				    ,RNK_SQ = #{rank}
				    ,STF_NM = #{name}
				    ,STF_PH = #{call}
				    ,STF_BS_PH = #{companyCall}
				    ,STF_EML = #{email}
				    ,STF_ENT = #{companyfirstdate}
			 WHERE STF_ID = #{id}
	</update>
	
	 <insert id="apvinsert" parameterType="my.vo.MyVo">  
	   INSERT INTO APV_TB (
	   				DIV_APV_SQ
                    ,APV_SQ
                    ,STF_SQ
                    ,APV_NM
                    ,APV_NO
                    ,APV_CONTENTS
                    ,APV_STATE
                    ,APV_FORM
                    ,APV_DATE
                    ,APV_STF_SQ) 
		VALUES (
				(SELECT 
				 	DIV_APV_SQ AS DIV_APV_SQ 
				 FROM DIV_APV_TB
				  WHERE DIV_APV_NM = #{form})
		        , (SELECT 
				     NVL(MAX(APV_SQ)+1,0) AS APV_SQ 
				     FROM APV_TB)
		        ,#{line}
		        ,#{Title}
		        ,null
		        ,#{freeContext}
		        ,'A'
		        ,#{form}
		        ,SYSDATE
		        ,#{sq}
		        )
	 </insert> 
	 <insert id="apvAdinsert" parameterType="my.vo.MyVo">  
		 <selectKey keyProperty="apv_sq" order="BEFORE" resultType="int">
		SELECT APV_SQ  FROM APV_TB
			WHERE APV_STF_SQ = #{sq} 
			      AND APV_FORM = #{form}
			      AND APV_NM = #{Title}
			      AND STF_SQ = #{line}
		 </selectKey>
		  INSERT INTO 
		  APV_AD_TB
	        (
	         APV_SQ_AD
			 ,APV_OD_AD
			 ,STF_SQ_AD
			 ,APV_AD_STATE
	        )
	    VALUES
	        (
	        #{apv_sq}
	        ,#{treeorder}
	        ,#{treenameinsert}
	        ,'A'
	        )
	 </insert> 
		
		<insert id="join" parameterType="my.vo.MyVo">  
		INSERT INTO STF_TB(
				    STF_SQ
				    ,AD_SQ
				    ,DPT_SQ
				    ,RNK_SQ
				    ,STF_NM
				    ,STF_PW
				    ,STF_PH
				    ,STF_BS_PH
				    ,STF_EML
				    ,STF_ENT
				    ,STF_REG
				    ,STF_ID
				)
				VALUES( 
				    (SELECT 
						NVL(MAX(STF_SQ)+1,0)AS STF_SQ
					      FROM STF_TB)
				    ,'6'
				    , #{department}
				    , #{rank}
				    , #{name}
				    , #{pw}
				    , #{call}
				    , #{companyCall}
				    , #{email}
				    , #{companyfirstdate}
				    , SYSDATE
				    , #{id}
				)
		</insert>
		<select id="joinInfo" parameterType="my.vo.MyVo" resultType="my.vo.MyVo">
		 select 
				    S.DPT_SQ as  department
				    ,S.RNK_SQ as rank
				    ,S.STF_NM as name
				    ,S.STF_PW as pw
				    ,S.STF_PH as call
				    ,S.STF_BS_PH as companyCall 
				    ,S.STF_EML as email
				    ,S.STF_ENT as companyfirstdate
				    ,S.STF_ID as id
                    ,D.DPT_NM AS dptnm
                    ,R.RNK_NM AS rnknm
			    FROM STF_TB S
			    INNER JOIN DPT_TB D ON S.DPT_SQ = D.DPT_SQ
			    INNER JOIN RNK_TB R ON S.DPT_SQ = R.RNK_SQ 
       				WHERE STF_ID = #{id}
		       		AND STF_PW = #{pw} 
								       		
	</select>
		 
		
</mapper>